@model IEnumerable<lab7_8.Models.EmployeeModel>

<div class="d-flex justify-content-between align-items-center">
    <h2>Employees</h2>
    <a class="btn btn-primary" asp-controller="Employees" asp-action="Create">Create New Employee</a>
</div>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <th>Is Employed</th>
        <th>Salary</th>
    </tr>

    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee.Id</td>
            <td>@employee.Name</td>
            <td>@employee.Email</td>
            <td>@employee.Age</td>
            <td>@employee.PhoneNumber</td>
            <td>@employee.Address</td>
            <td>@employee.City</td>
            <td>@employee.Country</td>
            <td>@employee.IsEmployed</td>
            <td>@employee.Salary</td>
        </tr>
    }
</table>
